h1 {
  font-size: 30px;
  color: white;
  float: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  color: white;
  width: 100%;
  background-color: #e9b8b8;
  position: fixed;
  /* z-index: 10; */
  /* box-sizing: border-box; */
}

.header-container {
  width: 80%;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio {
  height: 10rem;
  width: 100vw;
  /* border-radius: 100vw / 100vh; */
  /* background-color: yellow(255, 255, 255, 0.7); */
  color: #4d4d4f;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.portfolio__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__profile__name {
  font-size: 4vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
  /* 名前とroundとの間の余白の位置 */
  margin-top: 400px;
}

.portfolio__profile__links {
  display: -webkit-flex;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.portfolio__profile__links__element {
  font-size: 2.5vmin;
  height: 10rem;
  color: white;
  /* border-radius: 40px 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-dis {
  border: none;
  border-radius: 50%;
  background-color: #a5cad7;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

/* justify-content　が違う　; */
.round-dis2 {
  border: none;
  border-radius: 50%;
  background-color: #a5cad7;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

/* 　add  */
.agebuttton {
  color: white;
  font-size: 2.5vmin;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.addisplay {
  color: white;
  font-size: 2.5vmin;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

/*  TMI  */
.TMIbutton {
  font-size: 2.5vmin;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 100px;
}
.TMIdisplay {
  font-size: 2.5vmin;
  height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 100px;
}

.footer- {
  color: white;
  height: 4rem;
  background-color: #e9b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* .heart {
  position: relative;
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
} */
/* .star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
} */
